.shop_main {
    height: 100vw;
    width: 100vw;
}

.header_product li {
    list-style-type: none;
    display: inline;
    margin-right: 21px;
    /* Убираем маркеры */
}

.header_product {
    background: #7b8edd;
    width: 100%;
    position: relative;
    top: -23px;
    height: 90px;
}

.header_product ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.header_product li:hover{
    color: #333;
    transform: transition(0.2s);
}

.products_main{
    height: 900px;
}